[submodule "libDS18B20/libDallas-PRU/am335x_pru_package"]
	path = libDS18B20/libDallas-PRU/am335x_pru_package
	url = https://github.com/beagleboard/am335x_pru_package.git
[submodule "libDS18B20/libDallas/libBBBIO"]
	path = libDS18B20/libDallas/libBBBIO
	url = git://github.com/Miaou/BBBIOlib
